@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap");

:root {
  --gold-colour: #d5966c;
  --Black-colour: #151515;
  --Dark-Grey: #444;
  --big-font: "Big Shoulders Display", sans-serif;
  --p-font: "Outfit", sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100%;
}

.hero-section {
  display: flex;
  max-width: 100%;
}

.hero-left-bg {
  font-size: 3rem;
  font-family: var(--big-font);
  background: var(--Black-colour);
  color: white;
  font-weight: 900;
  line-height: 5.5rem;
  position: relative;
}
.hero-img-tablet{
  display: none;
  
  min-height: 100%;
  z-index: -1;
}

.hero-img-mobile{
  display: none;
  min-height: 100%;
  z-index: -1;
}
.hero-h1 {
  mix-blend-mode: difference;
  padding-right: 7.5rem;
}

.hero-img-desktop {
  min-height: 100%;
  z-index: -1;
}

.hero-right-btn {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.hero-right-btn > p {
  font-family: var(--p-font);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.75rem;
}

.right-btn-text {
  font-family: var(--big-font);
  padding: 1.5rem 2rem;
  background: var(--Black-colour);
  border: 0px;
  color: white;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0.22725rem;
  position: relative;
}

.hero-left-text > h1 {
  transform: translate(22.5rem, 10rem);
}

.hero-right-btn {
  transform: translate(-10rem, 10rem);
}

.right-arrow {
  border: 0px;
  padding: 1.39rem 1.55rem;
  background: var(--gold-colour);
}

.hero-btn {
  display: flex;
  padding-top: 2rem;
}

.showcase-section {
  display: flex;
  padding: 10rem;
  gap: 2rem;
  max-width: 100%;
}

a {
  text-decoration: none;
}


a > h1 {
  color: var(--Black-colour);
}


a > p {
  color: var(--Black-colour);
}

.showcase-info1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 2.5rem 1rem 0;
  height: 100%;
}

.showcase-info1 > h2 {
  font-family: var(--big-font);
  font-size: 2.75rem;
  font-weight: 900;
  line-height: 2.75rem;
  text-transform: uppercase;
}

.showcase-info1 > p {
  font-family: var(--p-font);
  padding: 1rem 0rem 0rem 0;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.65rem;
}

.grid-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.grid-2 {
  display: flex;
  width: 100%;
}

.grid-3 {
  display: flex;
  padding-left: 2rem;
  width: 100%;
  align-items: center;
}

.showcase-info2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background: var(--Black-colour);
  padding: 3rem;
  margin-top: 2rem;
  align-self: flex-end;

  min-height: 100%;
}
.showcase-info2 > h2 {
  font-family: var(--big-font);
  font-size: 2.75rem;
  font-weight: 900;
  line-height: 2.75rem;
  text-transform: uppercase;
  padding-bottom: 1rem;
}

.showcase-info2 > p {
  font-family: var(--p-font);
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.65rem;
}

.img-1 {
  background: url(./assets/desktop/image-grid-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 25rem;
  background-position: 50%;
  min-width: 50%;
}

.img-2 {
  background: url(./assets/desktop/image-grid-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 50rem;
  min-width: 50%;
  background-position: 50%;
}

.img-3 {
  background: url(./assets/desktop/image-grid-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  width: 100%;
  height: 10rem;
}

.grid-3-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-section {
  background: var(--Black-colour);
  display: flex;
  gap: 5rem;
  padding: 5rem 10rem;
}

.footer-img > img {
  object-fit: contain;
  width: 10rem;
  padding-right: 2rem;
}

.footer-info {
  color: white;
  font-family: var(--p-font);
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.75rem;
}

.footer-socials > * {
  padding-left: 0.5rem;
}

.facebook {
  background: url(./assets/icon-facebook.svg);
  background-repeat: no-repeat;
  padding-right: 10px;
  height: 20px;
}

.facebook:hover {
  background: url(./assets/icon-facebook-gold.svg);
  background-repeat: no-repeat;
  padding-right: 10px;
  cursor: pointer;
  height: 20px;
}

.instagram {
  background: url(./assets/icon-instagram.svg);
  background-repeat: no-repeat;
  padding-right: 12px;
  height: 20px;
}

.instagram:hover {
  background: url(./assets/icon-instagram-gold.svg);
  background-repeat: no-repeat;
  padding-right: 12px;
  cursor: pointer;
  height: 20px;
}

.twitter {
  background: url(./assets/icon-twitter.svg);
  background-repeat: no-repeat;
  padding-right: 11px;
  background-size: contain;
  height: 17.5px;
}

.twitter:hover {
  background: url(./assets/icon-twitter-gold.svg);
  background-repeat: no-repeat;
  padding-right: 11px;
  cursor: pointer;
  height: 17.5px;
}

.footer-socials {
  display: flex;
  justify-content: end;
  flex: 1;
  gap: 10px;
}

.hero-btn:hover > .right-btn-text {
  background: var(--gold-colour);
  cursor: pointer;
}

.hero-btn:hover > .right-arrow {
  background: var(--Black-colour);
  cursor: pointer;
}

.hero-h1-tablet{
  display: none;
}

@media only screen and (max-width: 1050px) {
 .hero-left-bg{
  display: none;
 }
 .hero-h1-tablet {
  display: flex;
  mix-blend-mode: unset;
  font-size: 5rem;
  font-family: var(--big-font);
  color: var(--Black-colour);
  font-weight: 900;
  line-height: 5.5rem;
 }
 .hero-img {
  position: absolute;
  left: 0;
 }
.hero-right-btn {
  position: absolute;
  left: 40rem;
}
.showcase-section{
  flex-direction: column;
  padding: 55rem 2.5rem 7.5rem 2.5rem;
}
.right-btn-text{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.footer-section{
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
}

@media only screen and (max-width: 763px) {
  .hero-img{
    display: none;
  }
  .hero-img-mobile{
    display: flex;
    width: 100%;
  }
  .hero-right-btn{
    position: relative;
    top: -7.75rem;
    left:-1rem;
    padding-left: 13rem;
  }

  .hero-right-btn > p {
    font-size: 1.125rem;
font-weight: 300;
line-height: 1.75rem;
left: 13.25rem;
top: 12rem;
  }

  
  .hero-section{
    flex-direction: column;
  }
  .showcase-section{
    padding: 7.5rem 1.5rem;
  }
  .hero-h1-tablet{
    font-size: 3.75rem;
font-style: normal;
font-weight: 900;
line-height: 3.4375rem;
  }
  .footer-section{
    flex-direction: column;
    gap: 2rem;
    padding: 2.5rem;
  }
  .footer-socials {
    justify-content: start;
  }
  .img-1 {
    background: url(./assets/mobile/image-grid-1@2x.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
  }
  
  .img-2 {
    background: url(./assets/mobile/image-grid-2@2x.jpg);
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
  }
  
  .img-3 {
    background: url(./assets/mobile/image-grid-3@2x.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    
  }
  .grid-1{
    flex-direction: column-reverse;
  }
  .grid-2{
    flex-direction: column;
  }
  .grid-3{
    margin-top: 2rem;
    padding: 0rem;
    max-width: 100%;
  }
  .showcase-info2{
    padding: 1.5rem;
  }
  .showcase-info2 > h2 {
    font-size: 3.125rem;
font-style: normal;
font-weight: 900;
line-height: 2.8125rem;
  }
  .hero-h1-tablet{
    
    width:16rem;
  }
  .hero-btn {
    width:20rem;
    padding-top: 0;
  }
  .right-btn-text > button {
    padding: 1rem 1rem;

}
.right-btn-text > .right-arrow {
    padding: 1rem 1rem;
    
}
}
