@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

:root{
    --gold-colour: #D5966C;
    --Black-colour: #151515;
    --Dark-Grey: #444;
    --big-font: 'Big Shoulders Display', sans-serif;
    --p-font: 'Outfit', sans-serif;
}

*{
    margin: 0;
    padding: 0;

}


html,body {
    max-width: 100%;
 }   


html{
    background: var(--Black-colour);
}



.space-between{

    display: flex;
    justify-content: space-between;

}

.map-section{
    display: flex;
    align-items: flex-start;
    max-width: 100%;  
}    
.home-btn{
    display: flex;
    justify-content: flex-start;
    z-index: 1;
    position: absolute;
    padding-left: 10rem;
    text-decoration: none;
}


.map-section > img{
    width: 100%;
    object-fit: contain;
}

.home-btn > .left-arrow {
    padding: 1.39rem 1.55rem;
    background: var(--gold-colour);
}

.home-btn > button {
    font-family: var(--big-font);
    padding: 1.5rem 2rem;
    background: var(--Black-colour);
    border: 0px;
    color: white;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 0.22725rem;
    
}

.info-section {
    color: white;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    padding: 6.5rem 10rem 10rem 10rem;
}

.info-h1{
    font-family: var(--big-font);
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: 4.5rem; 
    align-items: flex-start;
    padding-right: 2rem;
}

.info-h2{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}
.info-h2 > h2{
    font-family: var(--big-font);
    color: var(--gold-colour) ;
    font-size: 2.25rem;
}

.info-h2 > p{
    font-family: var(--p-font);
    font-size: 1.375rem;
    padding: 1rem 0;
}

.footer-section{
    background: var(--gold-colour);
    display: flex;
    padding: 5rem 10rem;
    gap: 5rem;
}

.footer-img > img{
   object-fit: contain;
   width: 10rem;
   padding-right: 2rem;
}

.footer-info{
    color: var(--Black-colour);
    font-family:var(--p-font) ;
    font-size:1.125rem;
    font-weight: 300;
    line-height: 1.75rem
}



.footer-socials > * {
    padding-left: 0.5rem;
}


.facebook{
    background: url(./assets/icon-facebook-dark.svg);
    background-repeat:no-repeat ;
    padding-right: 12px;
    cursor: pointer;
    height: 20px;
}

.facebook:hover{
    background: url(./assets/icon-facebook.svg);
    background-repeat:no-repeat ;
    padding-right: 12px;
    cursor: pointer;
    height: 20px;
}

.instagram{
    background: url(./assets/icon-instagram-dark.svg);
    background-repeat:no-repeat ;
    padding-right: 12px;
    cursor: pointer;
    height: 20px;
}

.instagram:hover{
    background: url(./assets/icon-instagram.svg);
    background-repeat:no-repeat ;
    padding-right: 1.25rem;
    padding-right: 12px;
    cursor: pointer;
    height: 20px;
}

.twitter{
    background: url(./assets/icon-twitter-dark.svg);
    background-repeat:no-repeat ;
    padding-right: 12px;
    cursor: pointer;
    height: 20px;
}

.twitter:hover{
    background: url(./assets/icon-twitter.svg);
    background-repeat:no-repeat ;
    padding-right: 12px;
    cursor: pointer;
    height: 20px;
}

.footer-socials {
    display: flex;
    justify-content: end;
    flex: 1;
    gap: 10px;
}


.home-btn:hover > .left-arrow {
    cursor: pointer;
    background: var(--Black-colour);
}

.home-btn:hover > button{
    cursor: pointer;
    background: var(--gold-colour);
}

@media only screen and (max-width: 1050px){
    
    .home-btn{
        padding-left: 2.5rem;
    }
    .info-section{
        padding: 2.5rem;
    }
    .footer-section{
        padding: 5rem 2.5rem;
        gap: 2.5rem;
    }
  
}

@media only screen and (max-width: 763px){
    
    .home-btn{
        padding-left: 0;
    }
    .info-section{
        padding: 2.5rem 1.5rem;
        flex-direction: column;
        
            grid-template-rows: 1fr;
            grid-template-columns: 1fr;
            gap: 1.5rem;
    }
    .footer-section{
        padding: 2.5rem 1.5rem;
        gap: 1.5rem;
        flex-direction: column;
    }
    .footer-socials{
        justify-content: start;
    }
}